@media screen and (min-width: 768px){
.image_box {
  overflow: hidden;
  width: 100px;
  height: 300px;
  padding: 0 3px;
  margin: 0;
}

.modal-content {
  width: 50%;
  margin: 0;
  padding: 0px 0px 10px;
  background: #fff3f0;
  position: fixed;
  display: none;
  z-index: 2;
}
}
